<div class="grid grid-cols-8 md:grid-cols-8 mt-10" *ngIf="details">
  <div class="col-span-6 col-start-2">
    <div class="flex justify-between">
      <h1 class="text-3xl">{{ details.name }}</h1>
    </div>

    <h3 class="text-lg mt-10 mb-2">Members</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <app-card-team-member></app-card-team-member>
      <app-card-team-member></app-card-team-member>
      <app-card-team-member></app-card-team-member>
      <app-card-team-member></app-card-team-member>
    </div>
  </div>
</div>
