<div class="grid grid-cols-8 md:grid-cols-8 mt-10" *ngIf="!isLoading">
  <div class="col-span-6 col-start-2">
    <div class="flex justify-between">
      <h1 class="text-3xl">{{ details.name }}</h1>
    </div>

    <div class="flex mt-20 mb-2">
      <fa-icon [icon]="icons.users" class="text-blue-400 mr-2"></fa-icon>
      <h3 class="text-lgml-2">Members</h3>
    </div>
    <hr class="w-full my-5">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <app-card-add-member></app-card-add-member>
      <app-card-member-info *ngFor="let member of details.UsersOnTeams" [member]="member"></app-card-member-info>
    </div>

    <div class="flex mt-10 mb-2">
      <fa-icon [icon]="icons.book" class="text-blue-400 mr-2"></fa-icon>
      <h3 class="text-lgml-2">Running Lessons</h3>
    </div>
    <hr class="w-full my-5">


    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <app-card-lesson-running
        *ngFor="let lesson of details.Lesson"
        [lesson]="lesson"
      ></app-card-lesson-running>
    </div>
  </div>
</div>

<app-loading-page *ngIf="isLoading"></app-loading-page>
