<div
  class="grid grid-cols-1 md:grid-cols-2 gap-5 max-h-screen justify-center align-middle"
>
  <app-form-create-account [@fade]></app-form-create-account>
  <div class="flex">
    <img
      [@fade]
      class="object-cover w-full p-10"
      style="max-height: 100vh; border-radius: 9.75rem"
      src="https://img.freepik.com/free-photo/side-view-female-astronaut-wearing-spacesuit_23-2150417570.jpg?t=st=1698687318~exp=1698690918~hmac=0d9ae37a8415d15ebd83550ee1b8796e822326beecd7ea1be506586dcc8424db&w=740"
      alt=""
    />
  </div>
</div>
