<div class="flex flex-col">
  <span class="dark:text-white">Quantos pontos ela vale?</span>
  <div class="flex">
    <app-badge class="cursor-pointer" [icon]="icons.score" [label]="1" (click)="onSelect(1)" [selected]="score == 1"></app-badge>
    <app-badge class="cursor-pointer" [icon]="icons.score" [label]="2" (click)="onSelect(2)" [selected]="score == 2"></app-badge>
    <app-badge class="cursor-pointer" [icon]="icons.score" [label]="3" (click)="onSelect(3)" [selected]="score == 3"></app-badge>
  </div>
</div>
