
<app-back-navegation [label]="'Lesson details'" [icon]="icons.lesson"></app-back-navegation>


<app-loading-page
  *ngIf="isLoading || isLoadingQuestions || isLoadingTopics"
></app-loading-page>
<div
  class="grid grid-cols-8 md:grid-cols-8 mt-10"
  *ngIf="!isLoading && !isLoadingQuestions && !isLoadingTopics"
>
  <div class="col-span-6 col-start-2">
    <h1 class="text-3xl">Matemática aplicada</h1>
    <app-badge
      *ngIf="!details.isOpened"
      [label]="'Closed'"
      [icon]="icons.lock"
      [type]="'warning'"
    ></app-badge>
    <app-badge
      *ngIf="details.isOpened"
      [label]="'Running'"
      [icon]="icons.unlock"
      [type]="'purple'"
    ></app-badge>
    <app-badge
      [label]="details.QuestionsOnLessons.length + ' Questions'"
      [icon]="icons.book"
    ></app-badge>
    <app-badge-level [level]="3" [label]="'Hard'"></app-badge-level>
    <app-badge
      [label]="details.score + ' points'"
      [icon]="icons.puzzle"
    ></app-badge>
    <div class="col-span-6">
      <hr class="my-3" />
    </div>

    <div class="col-span-2 col-start-4 my-10">
      <div class="flex justify-between items-center">
        <span>Questions in this lesson</span>
        <app-open-lesson *ngIf="!details.isOpened"></app-open-lesson>
        <app-close-lesson *ngIf="details.isOpened"></app-close-lesson>
      </div>
    </div>

    <app-questions-drop-zone
      *ngIf="!isLoading"
      [questions]="details.QuestionsOnLessons"
    ></app-questions-drop-zone>

    <div class="grid grid-cols-6 md:grid-cols-6 my-5">
      <div
        class="md:col-span-2 col-span-4 col-start-1 md:col-start-5 md:text-end"
      >
        <app-combobox
          (emitter)="onFilter($event)"
          [options]="topics"
        ></app-combobox>
        <app-simple-button [label]="'Create'"></app-simple-button>
        <br />
        <span class="">
          Drag the questions you want to add into this lesson
        </span>
      </div>
    </div>

    <app-questions-draggables
      [questions]="filteredQuestions"
    ></app-questions-draggables>
  </div>
</div>
