<div
  class="rounded shadow-md p-3 border"
  (dragstart)="onDragStart($event)"
  (dragend)="onDragEnd()"
  [draggable]="isDragabble"
  [class.drag]="isDrag"
>
  <div class="flex justify-between">
    <app-badge [label]="question.pontuation" [icon]="icons.bolt"></app-badge>
    <div class="flex">
      <fa-icon [icon]="icons.image" class="text-gray-400"></fa-icon>
      <span class="font-bold text-green-400 ml-1">{{
        question?.QuestionImage?.length
      }}</span>
    </div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-3">
    <app-badge [label]="question.topic.name"></app-badge>
  </div>

  <h3 class="text-sm font-semibold mt-3">{{ question.title }}</h3>

  <div class="flex mt-1">
    <app-badge
      [label]="i"
      *ngFor="let alternative of question.alternatives; index as i"
      [selected]="alternative.isCorrect"
    ></app-badge>
  </div>
  <hr class="my-3" />
  <div class="flex justify-between">
    <small>
      <fa-icon [icon]="icons.calendar" class="text-gray-400"></fa-icon>
      Last update: 22/10/2023
    </small>
    <fa-icon
      [icon]="icons.edit"
      class="text-gray-400 cursor-pointer"
      *ngIf="isEditabble"
    ></fa-icon>
    <button
      class="bg-gray-100 px-2 py-1 shadow-md"
      (click)="onRemove()"
      *ngIf="isDeletable"
    >
      <fa-icon
        [icon]="icons.delete"
        class="text-red-400 cursor-pointer"
      ></fa-icon>
    </button>
    <button
      class="bg-gray-100 px-2 py-1 shadow-md"
      (click)="onAddWithClick()"
      *ngIf="addClick"
    >
      <fa-icon
        [icon]="icons.add"
        class="text-green-400 cursor-pointer"
      ></fa-icon>
    </button>
  </div>
</div>
