<div class="flex flex-col">
  <span>How many images does your question require?</span>
  <div class="flex">
    <app-badge
      class="cursor-pointer"
      [label]="0"
      (click)="onSelect(0)"
      [selected]="images.length == 0"
    ></app-badge>
    <app-badge
      class="cursor-pointer"
      [label]="1"
      (click)="onSelect(1)"
      [selected]="images[0] == 1"
    ></app-badge>
    <app-badge
      class="cursor-pointer"
      [label]="2"
      (click)="onSelect(2)"
      [selected]="images[0] == 2"
    ></app-badge>
    <app-badge
      class="cursor-pointer"
      [label]="3"
      (click)="onSelect(3)"
      [selected]="images[0] == 3"
    ></app-badge>
  </div>

  <div class="flex">
    <app-card-image-render *ngFor="let image of images"></app-card-image-render>
  </div>
</div>
