<div class="rounded-lg shadow-md p-3">
  <div class="grid grid-cols-3">
    <div class="col-span-3 md:col-span-1">
      <div class="flex justify-center h-full">
        <img
          class="rounded-full img self-center"
          src="https://img.freepik.com/free-photo/black-man-posing_23-2148171639.jpg?size=626&ext=jpg&ga=GA1.2.386372595.1697500800&semt=ais"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-3 md:col-span-2">
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h3 class="text-2xl font-semibold">{{ user.name }}</h3>
          <div class="flex items-center">
            <fa-icon [icon]="icons.email" class="text-gray-400 mr-1"></fa-icon>
            <small class="text-gray-500">{{ user.email }}</small>
          </div>
        </div>
        <fa-icon
          (click)="onRemove()"
          [icon]="icons.remove"
          class="text-red-400 cursor-pointer"
        ></fa-icon>
      </div>
      <app-badge
        [icon]="icons.cap"
        [label]="'Student'"
        [type]="'purple'"
      ></app-badge>
      <br />
      <app-badge
        [icon]="icons.level"
        [label]="'NVL: 32'"
        [type]="'success'"
      ></app-badge>
      <app-badge [icon]="icons.gem" [label]="'Diamond'"></app-badge>
    </div>
  </div>
</div>
