<div class="rounded-lg shadow-md p-3">
  <div class="grid grid-cols-3">
    <div class="col-span-3 md:col-span-1">
      <div class="flex justify-center h-full">
        <img
          class="rounded-full img self-center"
          src="https://img.freepik.com/free-photo/black-man-posing_23-2148171639.jpg?size=626&ext=jpg&ga=GA1.2.386372595.1697500800&semt=ais"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-3 md:col-span-2">
      <h3 class="text-2xl font-semibold">Alberto Paiva</h3>
      <span>Student</span>
      <br>
      <div class="bg-blue-400 rounded-full text-white inline-block px-2 mr-1 my-1">
        <fa-icon [icon]="icons.level" class="mx-1"></fa-icon>
        <span>nv: 32</span>
      </div>
      <div
        class="bg-purple-400 rounded-full text-white inline-block px-2 my-1"
      >
        <fa-icon [icon]="icons.gem" class="mx-1"></fa-icon>
        <span>Diamond</span>
      </div>
    </div>
  </div>
</div>
