<div class="rounded shadow-md p-4">
  <div class="grid grid-cols-1 gap-2">
    <div class="col-span-1">
      <div class="flex justify-start">
        <div
          class="rounded-xl bg-red-400 text-white w-20 flex justify-center font-semibold"
        >
          <fa-icon [icon]="icons.level"></fa-icon>
          <span class="ml-2">Hard</span>
        </div>
        <div
          class="rounded-xl bg-green-400 text-white w-20 flex justify-center font-semibold mx-2"
        >
          <fa-icon [icon]="icons.medal"></fa-icon>
          <span class="ml-2">2</span>
        </div>
        <div
          *ngIf="lesson.isOpened"
          class="rounded-xl bg-green-400 text-white w-20 flex justify-center font-semibold"
        >
          <fa-icon [icon]="icons.open"></fa-icon>
          <span class="ml-1">Open</span>
        </div>
        <div
          *ngIf="!lesson.isOpened"
          class="rounded-xl bg-orange-400 text-white w-20 flex justify-center font-semibold"
        >
          <fa-icon [icon]="icons.lock"></fa-icon>
          <span class="ml-1">Closed</span>
        </div>
      </div>
    </div>
    <div class="col-span-1 mt-3">
      <div class="flex">
        <fa-icon [icon]="icons.book" class="text-blue-400"></fa-icon>
        <h1 class="ml-2 font-semibold">Name</h1>
      </div>
      <h1>{{ lesson.name }}</h1>
    </div>
    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.users" class="text-blue-400"></fa-icon>
        <h1 class="ml-2 font-semibold">Team</h1>
      </div>
      <h1>{{ lesson.team.name }}</h1>
    </div>

    <hr class="my-2" />

    <div class="flex justify-between">
      <div class="flex">
        <fa-icon [icon]="icons.calendar" class="text-gray-400 mr-2"></fa-icon>
        <span>Created at {{ lesson.createdAt | date : "dd/MM/yy" }}</span>
      </div>
      <fa-icon [icon]="icons.pen" class="text-gray-400"></fa-icon>
    </div>
  </div>
</div>
