<div class="rounded-lg hover:shadow-lg p-5 bg-white dark:bg-zinc-700 dark:text-white">
  <div class="grid grid-cols-1 gap-2">
    <div class="col-span-1">
      <div class="flex justify-start">
        <app-badge-level
          [level]="lesson.difficulty.level"
          [label]="lesson.difficulty.name"
        ></app-badge-level>
        <app-badge
          [icon]="icons.book"
          [label]="lesson.QuestionsOnLessons.length"
          [type]="'success'"
        ></app-badge>
        <app-badge
          [icon]="icons.lock"
          [label]="'Closed'"
          [type]="'warning'"
          *ngIf="!lesson.isOpened"
        ></app-badge>
        <app-badge
          [icon]="icons.open"
          [label]="'Running'"
          [type]="'purple'"
          *ngIf="lesson.isOpened"
        ></app-badge>
      </div>
    </div>
    <div class="col-span-1 mt-3">
      <div class="flex items-end">
        <app-badge [icon]="icons.book"></app-badge>
        <h1 class="ml-2 font-semibold text-blue-400">Name</h1>
      </div>
      <h1>{{ lesson.name }}</h1>
    </div>
    <div class="col-span-1">
      <div class="flex items-end">
        <app-badge [icon]="icons.users"></app-badge>
        <h1 class="ml-2 font-semibold text-blue-400">Team</h1>
      </div>
      <h1>{{ lesson.team.name }}</h1>
    </div>

    <div class="flex justify-between mt-4">
      <div class="flex">
        <fa-icon [icon]="icons.calendar" class="text-gray-400 mr-2"></fa-icon>
        <span>Created at {{ lesson.createdAt | date : "dd/MM/yy" }}</span>
      </div>
      <div class="flex cursor-pointer" routerLink="/lessons/{{ lesson.id }}/edit">
        <fa-icon [icon]="icons.pen" class="text-gray-400 mx-2"></fa-icon>
      </div>
    </div>
  </div>
</div>
