<div class="rounded-lg shadow-md p-3">
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <img class="rounded-full img" src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_1x1.jpg" alt="" />
    </div>
    <div class="col-span-2">
      <h3 class="font-semibold">{{ member.user.name }}</h3>
      <div class="flex">
        <fa-icon [icon]="icons.email" class="text-gray-300"></fa-icon>
        <span class="text-gray-500 ml-1">{{ member.user.email }}</span>
      </div>
      <app-badge [label]="member.user.role" [icon]="icons.cap" [type]="'purple'"></app-badge>
    </div>
  </div>
</div>
