<div class="rounded-lg p-5 hover:shadow-lg bg-white">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="col-span-1 md:col-span-2">
      <div class="flex flex-col">
        <div class="self-end">
          <app-badge-level
            [label]="lesson.difficulty.name"
            [level]="lesson.difficulty.level"
          ></app-badge-level>
          <app-badge
            [icon]="icons.book"
            [label]="lesson.QuestionsOnLessons?.length ?? 0"
          ></app-badge>
          <app-badge
            [icon]="icons.clock"
            [label]="
              lesson?.ExpirationDate[0]?.expiresAt | date : 'dd/MM/yyyy hh:mm'
            "
          ></app-badge>
        </div>
      </div>
    </div>
    <div class="col-span-1 md:col-span-1">
      <h3 class="font-semibold text-gray-500">Name</h3>
      <span>{{ lesson.name }}</span>
    </div>

    <div class="col-span-1 md:col-span-2 mt-5">
      <div class="flex justify-end">
        <fa-icon [icon]="icons.calendar" class="text-gray-500 mr-2"></fa-icon>
        <span>Created at {{ lesson.createdAt | date : "dd/MM/yyyy" }}</span>
      </div>
    </div>
  </div>
</div>
