<div
  class="rounded-lg hover:shadow-lg cursor-pointer p-5 mt-4 bg-white dark:bg-slate-600 dark:text-white"
  routerLink="/lessons/{{ lesson.id }}/edit"
>
  <div class="grid grid-cols-8 md:grid-cols-8 w-full">
    <div class="col-span-4 md:col-span-2">
      <div class="flex flex-col">
        <span class="mb-2">
          <fa-icon [icon]="icons.lesson" class="text-blue-400"></fa-icon>
          Nome
        </span>
        <app-badge [label]="lesson.name"></app-badge>
      </div>
    </div>

    <div class="col-span-4 md:col-span-2">
      <div class="flex flex-col">
        <span class="mb-2">
          <fa-icon [icon]="icons.users" class="text-blue-400"></fa-icon>
          Alunos
        </span>
        <app-badge [label]="lesson.team['UsersOnTeams'].length"></app-badge>
      </div>
    </div>

    <div class="col-span-4 md:col-span-2">
      <div class="flex flex-col">
        <span class="mb-2">
          <fa-icon [icon]="icons.team" class="text-blue-400"></fa-icon>
          Time
        </span>
        <app-badge [label]="lesson.team.name"></app-badge>
      </div>
    </div>

    <div class="col-span-8 md:col-span-2">
      <div class="flex flex-col">
        <span class="mb-2">
          <fa-icon [icon]="icons.timer" class="text-blue-400"></fa-icon>
          Termina em
        </span>
        <app-badge
          [label]="
            lesson.ExpirationDate[lesson.ExpirationDate.length - 1].expiresAt
              | date : 'dd/MM/yyyy hh:mm'
          "
        ></app-badge>
      </div>
    </div>
  </div>
</div>
