<mat-card>
  <mat-card-content>
    <mat-card-header>
      <div class="d-flex-column">
        <h1>Create account</h1>
        <span>its easy! Just take a minute and provide details!</span>
      </div>
    </mat-card-header>
    <mat-card-content class="mt">
      <button mat-raised-button class="w-100">Continue with Google</button>
      <div class="d-flex-center">
        <h3>Or</h3>
      </div>

      <form class="example-form">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput />
          <mat-error> Name is <strong>required</strong> </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput />
          <mat-error> Email is <strong>required</strong> </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput />
          <mat-error> Password is <strong>required</strong> </mat-error>
        </mat-form-field>

        <span>Yes! I agreen the Terms of Services!</span>

        <button mat-raised-button color="primary" class="w-100" style="height: 50px;">
          Create Account
        </button>

        <span>Already have an account? <b>Login</b></span>
      </form>
    </mat-card-content>
  </mat-card-content>
</mat-card>
