<form
  [formGroup]="form"
  class="shadow-sm rounded-sm px-10 h-full w-full flex flex-col justify-center"
>
  <app-input-floating-text
    [label]="'Name'"
    formControlName="name"
  ></app-input-floating-text>

  <app-input-floating-text
    [label]="'E-mail'"
    [prependIcon]="icons.email"
    formControlName="email"
    [hasError]="formControls['email'].errors"
  ></app-input-floating-text>

  <app-input-floating-text
    [label]="'Password'"
    [type]="'password'"
    [appendIcon]="icons.password"
    formControlName="password"
    [hasError]="formControls['password'].errors"
  ></app-input-floating-text>

  <app-primary-button
    [label]="'Create Account'"
    [isLoading]="isLoading"
    (clicked)="onSubmit()"
  ></app-primary-button>

  <span class="mt-5 text-gray-500 text-center">Already have an account?</span>
</form>
