<div class="grid grid-cols-1 bg-slate-50 dark:bg-zinc-600" *ngIf="show">
  <div class="col-span-1">
    <div class="flex bg-white-400 shadow-md justify-between items-center w-full p-2">
      <div class="flex flex-col ml-3 cursor-pointer" routerLink="/">
        <h3 class="logo text-4xl text-purple-400">Peter.</h3>
        <h3 class="logo text-4xl text-blue-400" style="margin-top: -12px;">Space</h3>
      </div>
      <button
        class="rounded border py-4 px-4"
        (click)="sidebarService.onHandle()"
      >
        <fa-icon
          [icon]="icons.menu"
          [size]="'2x'"
          class="text-gray-500 dark:text-white"
        ></fa-icon>
      </button>
    </div>
  </div>
</div>
