
<app-back-navegation [label]="'Criar Questão'" [icon]="icons.book"></app-back-navegation>

<div class="grid grid-cols-8 md:grid-cols-8 mb-20">
  <div class="col-span-6 col-start-2">
    <div class="grid md:grid-cols-3 mt-20 gap-5">
      <div class="col-span-3">
        <h1 class="text-3xl font-semibold dark:text-white">Criar Questão</h1>
        <span class="text-gray-500 dark:text-white">
          Preencha os campos abaixo.
        </span>
      </div>

      <div class="col-span-1">
        <app-create-question-title></app-create-question-title>
      </div>

      <div class="col-span-2 col-start-1">
        <app-create-question-category></app-create-question-category>
      </div>

      <div class="col-span-2 col-start-1 mt-5">
        <app-create-question-level></app-create-question-level>
      </div>

      <div class="col-span-1 col-start-1 mb-5">
        <app-create-question-score></app-create-question-score>
      </div>

      <div class="col-span-2 col-start-1">
        <app-create-question-alternatives></app-create-question-alternatives>
      </div>
    </div>
  </div>
</div>
