<div class="rounded-lg border grid grid-cols-2 shadow-lg bg-white">
  <h3 class="self-center text-3xl my-5 mx-2 text-blue-400 font-bold">Get New Features!</h3>
  <img
  class="h-full"
    src="https://img.freepik.com/free-vector/handshake-gesture-3d-cartoon-style-icon-businesspeople-partners-shaking-hands-making-successful-deal-flat-vector-illustration-partnership-agreement-teamwork-concept_74855-26044.jpg?w=1380&t=st=1698836465~exp=1698837065~hmac=28fb3aa7988aa4c4b30ddbf8504937b23213aa22328f39a8d5f5b7d61dd25ed4"
    alt=""
  />
</div>
