<div class="relative mt-3 border rounded-lg flex items-center justify-between">
  <div class="ml-2" *ngIf="prependIcon">
    <button class="rounded-lg shadow-sm bg-gray-50 px-2 py-1" type="button">
      <fa-icon [icon]="prependIcon" class="text-gray-400"></fa-icon>
    </button>
  </div>
  <input
    [type]="type"
    id="floating_outlined"
    placeholder=""
    (keyup)="activate($event.target['value'])"
    class="block px-2.5 pb-2.5 pt-4 w-full text-sm dark:text-gray-600 text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
  />
  <label
    for="floating_outlined"
    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
  >
    {{ label }}
  </label>

  <div class="mr-3" *ngIf="appendIcon">
    <button class="rounded-lg shadow-sm bg-gray-50 px-2 py-1" type="button">
      <fa-icon [icon]="appendIcon" class="text-gray-400"></fa-icon>
    </button>
  </div>
</div>

<div class="flex flex-col">
  <small class="text-red-500" *ngIf="emailErrors">{{ label }} is Inválid</small>
  <small class="text-red-500" *ngIf="requiredErrors">{{ label }} is Required</small>
  <small class="text-red-500" *ngIf="minErros">
    Password must be 6 characteres
  </small>
</div>
