<div
  (click)="modalRender.onOpen(template, 'Invite member')"
  class="rounded-lg shadow-md p-3 h-full flex flex-col justify-center items-center cursor-pointer"
>
  <fa-icon [icon]="icons.add" class="text-blue-400"></fa-icon>
  <span class="font-semibold">Invite Member</span>
</div>

<ng-template #template>
  <form [formGroup]="form">
    <app-input-floating-text
      [label]="'E-mail'"
      [prependIcon]="icons.users"
      formControlName="email"
      [formField]="formControls['email']"
    ></app-input-floating-text>

    <app-card-team-member
      class="my-5"
      [check]="true"
      [user]="user"
      *ngIf="user"
    ></app-card-team-member>

    <app-primary-button
      *ngIf="!user"
      [label]="'Search'"
      [type]="'submit'"
      [size]="'lg'"
      [isLoading]="isLoading"
      (clicked)="onSearch()"
    ></app-primary-button>

    <app-primary-button
      *ngIf="user"
      [label]="'Invite'"
      [type]="'submit'"
      [size]="'lg'"
      [isLoading]="isLoading"
      (clicked)="onInvite()"
    ></app-primary-button>
  </form>
</ng-template>
