<ng-container *ngIf="!isLoading">
  <div class="grid grid-cols-8 md:grid-cols-8 lg:grid-cols-8 mt-20 gap-10">
    <div class="col-span-6 col-start-2 md:col-span-6 md:col-start-2 lg:col-span-2 lg:col-start-2">
      <app-cards-informations
        [label]="'Atividades'"
        [count]="informations.lessonsCount"
        [type]="1"
      ></app-cards-informations>
    </div>
    <div class="col-span-6 col-start-2 md:col-span-6 md:col-start-2 lg:col-span-2">
      <app-cards-informations
        [label]="'Times'"
        [count]="informations.teamsCount"
        [type]="2"
      ></app-cards-informations>
    </div>
    <div class="col-span-6 col-start-2 md:col-span-6 md:col-start-2 lg:col-span-2">
      <app-cards-informations
        [label]="'Alunos'"
        [count]="informations.studentsCount"
        [type]="3"
      ></app-cards-informations>
    </div>
  </div>

  <div class="grid grid-cols-8 lg:grid-cols-8 mt-10">
    <div class="col-span-6 col-start-2 lg:col-start-2 lg:col-span-6">
      <app-opened-lessons [information]="informations"></app-opened-lessons>
    </div>
    <div class="col-span-6 col-start-2 lg:col-start-2 lg:col-span-6">
      <app-not-found-content *ngIf="!informations.runningLessons.length"></app-not-found-content>
    </div>

  </div>
</ng-container>

<app-loading-page *ngIf="isLoading"></app-loading-page>
