<div
  class="rounded-full text-white text-center font-semibold mx-1 px-2  my-1 inline-block"
  [ngClass]="{
    'bg-blue-400 hover:shadow-lg hover:shadow-blue-200': type == 'primary',
    'bg-red-400 hover:shadow-lg hover:shadow-red-200': type == 'error',
    'bg-orange-400 hover:shadow-lg hover:shadow-orange-200': type == 'warning',
    'bg-gray-300 hover:shadow-lg hover:shadow-gray-200': type == 'default',
    'bg-green-400 hover:shadow-lg hover:shadow-green-200': type == 'success ' || selected,
    'bg-purple-400 hover:shadow-lg hover:shadow-purple-200': type == 'purple'
  }"
>
  <fa-icon [icon]="icon" *ngIf="icon"></fa-icon>
  {{ label }}
</div>
