<div class="rounded-lg hover:shadow-lg p-5 bg-white">
  <div class="grid grid-cols-2 md:grid-cols-2">
    <div class="col-span-2 md:col-span-4">
      <app-badge [icon]="icons.lesson" [label]="team.Lesson.length + ' Lessons'"></app-badge>
      <app-badge [icon]="icons.users" [label]="team.UsersOnTeams.length + ' Members'" [type]="'purple'"></app-badge>
    </div>
    <div class="md:col-span-4">
      <h3 class="font-semibold text-blue-500 mb-2">
        <div class="flex items-center">
          <app-badge [icon]="icons.person"></app-badge>
          Name
        </div>
      </h3>
      <span>{{ team.name }}</span>
    </div>
  </div>
  <hr class="my-3" />

  <div class="flex justify-between items-center">
    <div class="flex">
      <fa-icon [icon]="icons.clock" class="text-gray-400"></fa-icon>
      <span class="mx-1">Created at {{ team.createdAt | date : "dd/MM/yyyy" }}</span>
    </div>
    <button class=" p-1">
      <fa-icon
        routerLink="/teams/details/{{ team.id }}"
        [icon]="icons.see"
        class="mx-1 text-gray-400 cursor-pointer"
      ></fa-icon>
    </button>
  </div>
</div>
