@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Vina+Sans&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
}

[draggable="true"] {
  cursor: move;
}

.logo {
  font-family: "Vina Sans", sans-serif;
}


