<app-primary-button
  [label]="'Create Lesson'"
  (click)="modalRender.onOpen(template, 'Create Lesson')"
></app-primary-button>

<ng-template #template>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-floating-text
      [label]="'Lesson Name'"
      [prependIcon]="icons.book"
      formControlName="name"
    ></app-input-floating-text>

    <app-input-select
      [selections]="availableTeams"
      [field]="'id'"
      [label]="'name'"
      [name]="'Select an Team'"
      formControlName="teamId"
    ></app-input-select>

    <app-input-select
      [selections]="difficulties"
      [field]="'id'"
      [label]="'name'"
      [name]="'Select an Difficulty'"
      formControlName="level"
    ></app-input-select>

    <app-primary-button
      [label]="'Create'"
      [type]="'submit'"
      [isLoading]="isLoading"
      [size]="'lg'"
    ></app-primary-button>
  </form>
</ng-template>
