.frame {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(91, 66, 137, 0.526);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

 
}
